.bg-container {
  background-color: #152850;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.responsive-container {
  background-color: #e0eefe;
  height: 550px;
  width: 700px;
  border-radius: 24px;
  display: flex;
  align-items: center;
}
.login-image {
  width: 350px;
  height: 300px;
}
.login-card {
  background-color: #ffffff;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-title {
  color: #183b56;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 600;
}
.label {
  color: #5a7184;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.user-input {
  border: 1px solid #c3cad9;
  border-radius: 8px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  padding: 16px 8px 16px 8px;
  outline: none;
}
.pin-label {
  color: #5a7184;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}
.login-button {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  background-color: #1565d8;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  outline: none;
}
.error-msg {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
}
